.nav-item {
    cursor: pointer;
    color: #37515a;
    width: 100%;
    text-transform: uppercase;
    border-right: none;
    background-color: transparent;
    display: grid;
}

.dropdown {
    padding: 5px 15px;
}

ul {
    padding: 0;
    list-style-type: none;
    background-color: lightgrey;
}

ul li:hover {
    background-color: silver;
    cursor: pointer;
}

ul li a {
    padding: 5px 25px;
    width: 100%;
}

.triangle {
    position: absolute;
    right: 10px;
    top: 5px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #555;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #555;
}
