<div class="wrapper">
    <a class="nav-item dropdown" (click)="toggleExpand()"
        >Tjenester<span
            class="triangle"
            [ngClass]="{
                'triangle-down': !isExpanded,
                'triangle-up': isExpanded
            }"
        ></span
    ></a>
    <ul *ngIf="isExpanded">
        <li routerLinkActive="active">
            <a
                routerLink="tjenester/produktutvikling"
                class="nav-item"
                role="button"
                (click)="collapse()"
                >Produktutvikling</a
            >
        </li>
        <li routerLinkActive="active">
            <a
                routerLink="tjenester/produktgrupper"
                class="nav-item"
                role="button"
                (click)="collapse()"
                >Produktgrupper</a
            >
        </li>
        <li routerLinkActive="active">
            <a
                routerLink="tjenester/forpakning"
                class="nav-item"
                role="button"
                (click)="collapse()"
                >Forpakning</a
            >
        </li>
    </ul>
</div>
