.avsnitt{
    color: white;

}

.tekstinfo{
    margin-top: 4em;
}

.container-overskrift{
    font-size: 5em;

}

.slagord{
    margin-top: 2em;
    font-size: 2em;;
}

.container{
    background-color: green;
    clip-path: polygon(107% -16%,-330% -1%, 33% 110%);

    
}