<div class="container">
    <div class="avsnitt col-md-6">
        <div class="container-overskrift">
            <p>OM OPTOPHARMA</p>
        </div>
        <div class="tekstinfo">
            <p>Optipharma ble etablert i 2010 og har siden den gang utvilket flere anerkjente produkter innen helsekost. Vi er en nøytral kontraktsprodusent og har derfor ikke egne varemerker. Etter 24 års erfaring i bransjen vet vi hva som skal til for å få et produkt ut på markedet. Vi er en kunnskapsrik, enkel og effektiv bedrift som utvikler og produserer næringsmidler og kosttilskudd for norske bedrifter. Vi ønsker å hjelpe våre kunder med deres ideer for å utvikle de beste produktene med tanke. Smak er vår viktigste satsningsområdet.  Et av våre viktigste fortrinn er at vi er norske. Vi kjenner kravene og regelverket til Mattilsynet og det norske markedet. Dette innebærer regler for produktene, merking og markedsføring.  Vi følger reglene for HACCP (Hazard Analysis and Critical Control Point) som er  fareanalyse, farevurdering eller risikoanalyse for en sikker produksjon. Vi kan også produsere økologiske produkter og er DEBIO sertifisert.
            </p>
        </div>
        <div class="slagord">
            <p>Lykkes dere, lykkes vi!</p>
        </div>
    </div>
</div>