.avsnitt{
    color: white;
    padding-left: 2em;
}

.tekstinfo{
    padding-top: 2em;
}

.container-overskrift{
    font-size: 4em;
    color: white;
    padding-left: 0.4em;
    padding-top: 0.2em;
}

.slagord{
    margin-top: 2em;
    font-size: 2em;
}

.innhold{
    background-color:  #718C80; 
    height: calc(100vh - 50px);
}