.about {
    padding: 2em;
}

.avsnitt{
    color: white;
}

.container-overskrift{
    font-size: 4em;
    color: white;
}


.slagord{
    margin-top: 2em;
    font-size: 2em;
    
}


@media only screen and (max-width: 767px) {
    .slagord {
        font-size: 20px;
        
    }
}

.innhold{
    background-color: #718C80; 
}

@media only screen and (max-width: 767px) {
    .container-overskrift{
        font-size: 2em;
    }
        
}