* {
    color: white;
}

@media only screen and (max-width: 991px) {
    .desktop {
        display: none;
    }
}

.bilder-mobil {
    width: 100%;
    height: 300px;
}

@media only screen and (min-width: 992px) {
    .bilder-mobil {
        display: none;
    }
}
