<ng-container *ngIf="itemSet === enum.Flasker">
    <p>Vi har flere ulike flasker for ulike formål. Vi kan tilby flasker i forskjellige formater,  størrelser og farger. Vi har også erfaring i hva slags flasker som egner seg for ulike produkter. Flaskene kommer i både  glass og plast og kan leveres med  pipetter, spraypumpe, dråpeteller, spatel og flip korker.  Vi har pipetter med ulik doseringsmerking som gjør det lettere å dosere produktet for bruker. 
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Poser">
    <p>Vi kan tilby ulike poseløsninger til pulver og tabletter fra større poser til porsjonsposer med og uten zip funksjon. 
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Bokser">
    <p>Vi har bokser og lokk i ulike farger og størrelser. Bokser kan leveres i både plast og metall.  Vi kan hjelpe deg med hva som egner seg best til ditt produkt. 
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Blister">
    <p>Vi produserer ulike blisterforpakning for både tabletter og kapsler. Vi har en rekke forskjellige pakkeløsninger på dette. Vi kan gi veiledning om blister er den riktige pakningstypen for ditt produkt. Vi kan også tilby blisterforpakning som kan sendes som brev. Dette gjør at man reduserer portokostnader.
    </p>
</ng-container>