a{
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    display: grid;
    padding-left: 1em;
}

.active{
    background-color: #3A525B;
    border-radius: 0;
    border-color: transparent;
    
}

a:hover{
    background-color: transparent;
}
.col-md-7{
    background-color: #3A525B;
    border-radius: 0;
    border-color: transparent;
}

h5{
    color:white;
    font-weight: bold;

}