.wrapper {
    color: white;
    font-display: left;
    padding: 2em;
    height: 100%;
}

.container-overskrift {
    font-size: 3.4em;
    text-align: left;
    margin-bottom: 1em;;
    margin-top: -0.1em;
    color: white;
    margin-left: -0.4em;
}

@media only screen and (max-width: 767px) {
    .container-overskrift {
        font-size: 2em;
        margin-left: -0.5em;
    }
}
    
.avsnitt {
    width: 100%;
}

.overskrift{
    font-weight: bold;
    font-size: 1em;
}

iframe{
    margin-left: 0em;
}

.map-wrapper {
    height: 400px;
}
