<div class="wrapper">
  <div class="container-overskrift col-md-12">
    <p>VI VIL GJERNE HØRE FRA DEG</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="avsnitt row">
        <div class="overskrift col-md-4">
          <p>KOM I KONTAKT</p>
        </div>
        <div class="col-md-8">
          <div class="undertekst">
            <p>
              Ønsker du et nytt produkt eller ønsker å endre/ forbedre ditt
              produkt innenfor helsekost, velvære produkter og næringsmidler,
              kontakt oss gjerne for en prat.
            </p>
          </div>
          <div class="undertekst">
            <p>
              Mail: anders@optipharma.no Mob.: +47 997 41 300
              <br />
              Mail: mari@optipharma.no Mob.: +47 997 41 301
            </p>
          </div>
        </div>
      </div>
      <div class="avsnitt row">
        <div class="overskrift col-md-4">
          <p>ADRESSE</p>
        </div>
        <div class="undertekst col-md-8">
          <p>Adresse: Optipharma AS Hestehagen 2, 1448 Drøbak</p>
        </div>
      </div>
      <div class="avsnitt row">
        <div class="overskrift col-md-4">
          OVERSKRIFT
        </div>
        <div class="underskrift col-md-6">
          <p>
            ​Optipharma ligger i Drøbak ca. 35 km syd for Oslo Fra Oslo: Kjør
            E18/E6 mot Svinesund. Sving av mot Drøbak etter Nordbytunellen. I
            rundkjøring nr 3 følg skilting mot Ås (Riksvei 152). Ta til venstre
            første avkjøring etter Amfi Drøbak City. Ta andre vei til høyre ned
            bakken. I midten av bakken tar du igjen til høyre. Vi holder til i
            bygningen til høyre. ​
          </p>
        </div>
      </div>
    </div>
</div>
<!--     <div class="col-md-6 map-wrapper">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2014.8040052102324!2d10.659136615941579!3d59.66955018177916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6411103fc0ae8dc!2sOptipharma%20AS!5e0!3m2!1sen!2sno!4v1587899370819!5m2!1sen!2sno"
        width="70%"
        height="50%"
        frameborder="0"
        style="border: 0;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div> --> 
  </div>
 
