.wrapper {
    margin:2em;
    font-family: 'montserrat', sans-serif;
    color: white;
}

.container-overskrift {
    font-size: 2em;
    text-align: left;
    margin: 2em;

}
    
.avsnitt {
    width: 100%;
}


.container {
    font-display: left;
    margin: 2em;
   

}