<body>
    <div class="container-overskrift">
        <p>Vi vil gjerne høre fra deg!</p>
    </div>

    <section>
        <div class="container">
            <p>Ønsker du et nytt produkt eller ønsker å endre/ forbedre ditt produkt innenfor 
            helsekost, velvære produkter og næringsmidler, kontakt oss gjerne for en prat.
            </p>
        </div>
        <div class="container">
            <p>Mail: anders@optipharma.no 
                Mob.: +47 997 41 300
            <br>
                Mail: mari@optipharma.no   
                Mob.: +47 997 41 301
            </p>
        </div>
        <div class="container">
            <p> Adresse:
                Optipharma AS
                Hestehagen 2, 1448 Drøbak
            </p>
        </div>
        <div class="container">
            <p>​Optipharma ligger i Drøbak ca. 35 km syd for Oslo 
                Fra Oslo: Kjør E18/E6 mot Svinesund. Sving av mot Drøbak etter Nordbytunellen. I rundkjøring nr 3 følg skilting mot Ås (Riksvei 152). Ta til venstre første avkjøring etter Amfi Drøbak City. Ta andre vei til høyre ned bakken. I midten av bakken tar du igjen til høyre. Vi holder til i bygningen til høyre.
            ​</p>
        </div>
 
    </section>
</body>