<div class="wrapper">
    <div class="container-overskrift">
        <p>VI VIL GJERNE HØRE FRA DEG</p>
    </div>

    <div class="avsnitt row">
        <div class="overskrift col-md-3">
            <p>KOM I KONTAKT
            </p>
        </div>
        <div class="col-md-3">
            <div class="undertekst">
                <p>
                    Ønsker du et nytt produkt eller ønsker å endre/ forbedre ditt produkt innenfor
                    helsekost, velvære produkter og næringsmidler, kontakt oss gjerne for en prat.
                </p>
            </div>
            <div class="undertekst">
                <p>Mail: anders@optipharma.no
                    Mob.: +47 997 41 300
                    <br>
                    Mail: mari@optipharma.no
                    Mob.: +47 997 41 301
                </p>
            </div>
        </div>
    </div>
    <div class="avsnitt row">
        <div class="overskrift col-md-3">
            <p>ADRESSE</p>
        </div>
        <div class="undertekst col-md-3">
            <p> Adresse:
                Optipharma AS
                Hestehagen 2, 1448 Drøbak
            </p>
        </div>
    </div>
    <div class="avsnitt row">
        <div class="overskrift col-md-3">
            OVERSKRIFT
        </div>
        <div class="underskrift col-md-3">
            <p>​Optipharma ligger i Drøbak ca. 35 km syd for Oslo
                Fra Oslo: Kjør E18/E6 mot Svinesund. Sving av mot Drøbak etter Nordbytunellen. I rundkjøring nr 3
                følg skilting mot Ås (Riksvei 152). Ta til venstre første avkjøring etter Amfi Drøbak City. Ta andre
                vei til høyre ned bakken. I midten av bakken tar du igjen til høyre. Vi holder til i bygningen til
                høyre.
                ​</p>
        </div>
    </div>
</div>