.logo{
    height: 130%;
}

.navbar {
  margin-bottom: 0;
  border-radius: unset;
}
.navbar.navbar-default{
    background-color: white;
  }
  
.nav.navbar-nav li a{
    /*background-color:blue;*/
    color: #37515A;
    width: 100%;
    text-transform: uppercase;
  }
  
  .navbar-default .navbar-nav>.active>a {
    border-right: none;
    text-decoration: underline;
    background-color: transparent;
  }
