<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapse = !collapse">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a href="/" class="navbar-brand"> <img src="../assets/images/logo.png" class="logo" alt="Logo"></a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapse" (window:resize)="collapse=true">

            <!--Dette er eventuelt hvis vi skal ha admin eller noe bare å legge inn hvis dere vil teste den-->
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/hjem" style="cursor: pointer;" class="dropdown"
                        role="button">Hjem </a></li>
                <li><a routerLink="/hjem" style="cursor: pointer;" class="dropdown" role="button">Om oss </a></li>


                <li routerLinkActive="active" class="dropdown" appDropdown>
                    <a routerLink="/tjenester" style="cursor: pointer;" class="dropdown-toogle" role="button"> Tjenester
                        <span class="caret"></span></a>

                    <!-- <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" routerLink="">Produktutvikling</a></li>
                        <li><a style="cursor: pointer;">Produktgrupper</a></li>
                        <li><a style="cursor: pointer;">Forpakninger</a></li>

                    </ul> -->
                </li>

                <li><a routerLink="/kontakt" style="cursor: pointer;" class="dropdown" role="button">Kontakt </a></li>
            </ul>

        </div>
    </div>
</nav>