.logo {
  height: 130%;
}

.dropdown {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
  border-radius: unset;
}

.dropdown-list {
  background-color: lightgrey;
}

.navbar.navbar-default {
  background-color: white;
}

.nav.navbar-nav li a {
  color: #37515a;
  width: 100%;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a {
  border-right: none;
  text-decoration: underline;
  background-color: transparent;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}