<ng-container *ngIf="itemSet === enum.Tabletter">
    <p>Vi produserer tabletter for forskjellige formål, blant annet
        tyggetabletter, smeltetabletter og svelgetabletter. Her er det også mulig å velge størrelse og farge på tabletten. Smak er også en viktig del av det å produsere smelte og tyggetabletter. 
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Oljer">
    <p>Vi kan utvikle både vannløselige og oljebaserte produkter, f eks vitamindråper i pipetteflasker.
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Pulver">
    <p>Vi kan utvikle og levere sportsærnering, vitaminblandinger og urteblandinger.  
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Kapsler">
    <p>Det er mulig å få utviklet både harde og myke kapsler. Vi kan også tilby kapsler i ulike farger. Kapselskallet kan være av  gelatin eller vegetabilsk.</p>
</ng-container>