  <!--<div class="row">
    <div class="col-md-5">
      <h2>Tjenester vi tilbyr</h2>
    </div>
    <div class="col-md-3">
      <h4>
      <a 
      (click)="onProdDev()"
      style="cursor: pointer;" 
      > Produktutvikling</a></h4>
    </div>
    <div class="col-md-3">
      <h4>
      <a href="#"> Produktgrupper</a></h4>
    </div>
    <div class="col-md-1">
      <h4>
      <a href="#"> Forpakning</a></h4>
    </div>
  </div>-->

<div class="row">
    <div class="col-md-12">
        <app-service-list></app-service-list>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>

