<ng-container *ngIf="itemSet === enum.Ide">
    <p>Vi kan hjelpe deg med å gå fra idestadiet til et ferdig produkt. Her kommer all vår ekspertise og vårt store kontaktflate inn. Vi bidrar til at dere gjør riktige avgjørelser i prosessen vedr. produkt, emballasje, merking, distribusjon og markedsføring.  </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Resept">
    <p>Vi sitter med kunnskap om lover og regler som må følges i forbindelse med utvikling av en resept til et nytt produkt. Optipharma oppdaterer seg kontinuerlig på regelverk som gjelder for bransjen. Dette er en viktig del av produktutviklingsprosessen. Dette kan f.eks. være lov om mattrygghet, forskrift om matinformasjon, forskrift om tilsetningsstoffer og mye mer. Vi har erfart hvilke elementer som kjemiske passer sammen og hva som gir et godt resultat for et fungerende produkt. Her sitter vi på viktig kompetanse som du kan dra stor nytte av. 
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Smak">
    <p>Gjennom mange år har vi opparbeidet oss god erfaring på aroma og smakstilsetninger. Det kan være behov for om å kamuflere råvarer som ikke smaker godt. Vi har erfaring med hvilke smaker som egner seg for forskjellige type produkter, samt hvilke produktformer (piller, oljer, pulver) som forbedrer produktet. Dette kan bety mye for å lykkes i markedet.  
    </p>
</ng-container>
<ng-container *ngIf="itemSet === enum.Vegansk">
    <p>Vi er DEBIO sertifisert som betyr at vi kan produsere økologiske produkter.
        Vi produserer både økologiske og veganske produkter. Dette gir oss kunnskap om lover og regler innenfor disse områdene. 
    </p>
</ng-container>