a{
    background-color: transparent;
    border-color: transparent;
}

.active{
    background-color: transparent;
    text-decoration: underline;
    color:white;
    display: inline;
}
a:hover{
    background-color: transparent;

}
.link{
    padding-right: 3em;
    margin: 10px;
}
h4{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }