<div class="background-image">
    <img src="../assets/images/P1100434-kopi.png">
    <div class="layer"></div>
    <span>Produktutvikling av helsekost</span>
</div>

<div class="logoboks">
    <div class="col-sm-2 col-sm-offset-3 col-xs-4 logo-container">
        <img class="logo" src="../assets/images/er.png" alt="erfaring">
        <p>24 års erfaring</p>
    </div>
    <div class="col-sm-2 col-xs-4 logo-container">
        <img class="logo" src="../assets/images/flagg.png" alt="erfaring">
        <p>Norsk produsent</p>
    </div>
    <div class="col-sm-2 col-xs-4 logo-container">
        <img class="logo" src="../assets/images/ny2.png" alt="erfaring">
        <p>Kunnskapsrik</p>
    </div>
</div>