<div class="main">
  <div class="background-image">
   <!--  <mdb-carousel [isControls]="false" [animation]="'slide'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../assets/images/P1100434-kopi.png" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../assets/images/miljøBilder/P1100590.png" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../assets/images/P1100528.png" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel> -->
 <img src="../assets/images/P1100434-kopi.png" />
    <div class="layer"></div>
    <span>PRODUKTUTVIKLING AV HELSEKOST</span>
  </div>

  <div class="logoboks">
    <div class="col-sm-2 col-sm-offset-3 col-xs-4 logo-container">
      <img class="logo" src="../assets/images/er.png" alt="erfaring" />
      <p>24 års erfaring</p>
    </div>
    <div class="col-sm-2 col-xs-4 logo-container">
      <img class="logo" src="../assets/images/flagg.png" alt="erfaring" />
      <p>Norsk produsent</p>
    </div>
    <div class="col-sm-2 col-xs-4 logo-container">
      <img class="logo" src="../assets/images/ny2.png" alt="erfaring" />
      <p>Kunnskapsrik</p>
    </div>
  </div>
</div>
